<%= simple_form_for @spot_candidate, :url => {:action => "create"}, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @spot_candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spot_candidate.errors.count, "error") %> prohibited this spot_candidate from being saved:</h2>

      <ul>
      <% @spot_candidate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>spots</p>
  <div id="spots">
    <%= f.simple_fields_for :spots, Spot.new do |spot| %>
      <%= render 'spot_fields', :f => spot %>
      <div class="links">
        <%= link_to_add_association 'add_spot', f, :spots %>
      </div>
    <% end %>
  </div>

  <div class="actions"> <%= f.submit %> </div>
<% end %>
