<%= form_for(@spot_candidate) do |f| %>
  <% if @spot_candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spot_candidate.errors.count, "error") %> prohibited this spot_candidate from being saved:</h2>

      <ul>
      <% @spot_candidate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :request_id %><br />
    <%= f.number_field :request_id %>
  </div>
  <div class="field">
    <%= f.label :spot_id %><br />
    <%= f.number_field :spot_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
