<p id="notice"><%= notice %></p>

<p>
  <b>Request:</b>
  <%= @spot_candidate.request_id %>
</p>

<p>
  <b>Spot:</b>
  <%= @spot_candidate.spot_id %>
</p>

<p>
  <b>User:</b>
  <%= @spot_candidate.user_id %>
</p>


<%= link_to 'Edit', edit_spot_candidate_path(@spot_candidate) %> |
<%= link_to 'Back', spot_candidates_path %>
