<%= form_for(@plan_day) do |f| %>
  <% if @plan_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan_day.errors.count, "error") %> prohibited this plan_day from being saved:</h2>

      <ul>
      <% @plan_day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plan_id %><br />
    <%= f.number_field :plan_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
