<%= simple_form_for @request, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :start_datetime %>
  <%= f.input :end_datetime %>
  <%= f.input :people_num %>
  <%= f.input :budget_hotel %>
  <%= f.input :budget_meal %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                requests_path, :class => 'btn' %>
  </div>
<% end %>
