<%- model_class = Request -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:username) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:start_datetime) %></th>
      <th><%= model_class.human_attribute_name(:end_datetime) %></th>
      <th><%= model_class.human_attribute_name(:deadline_datetime) %></th>
      <th><%= model_class.human_attribute_name(:people_num) %></th>
      <th><%= model_class.human_attribute_name(:budget_hotel) %></th>
      <th><%= model_class.human_attribute_name(:budget_meal) %></th>
      <th><%= model_class.human_attribute_name(:option_transport) %></th>
      <th><%= model_class.human_attribute_name(:option_edit) %></th>
      <th><%= model_class.human_attribute_name(:option_pdf) %></th>
      <th><%= model_class.human_attribute_name(:option_booking) %></th>
      <th><%= model_class.human_attribute_name(:option_guide) %></th>
      <th><%= model_class.human_attribute_name(:option_qa) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:complete) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= link_to request.id, request_path(request) %></td>
        <td><%= request.user_id %></td>
        <td><%= request.username %></td>
        <td><%= request.title %></td>
        <td><%= request.start_datetime %></td>
        <td><%= request.end_datetime %></td>
        <td><%= request.deadline_datetime %></td>
        <td><%= request.people_num %></td>
        <td><%= request.budget_hotel %></td>
        <td><%= request.budget_meal %></td>
        <td><%= request.option_transport %></td>
        <td><%= request.option_edit %></td>
        <td><%= request.option_pdf %></td>
        <td><%= request.option_booking %></td>
        <td><%= request.option_guide %></td>
        <td><%= request.option_qa %></td>
        <td><%= request.created_at %></td>
        <td><%= request.complete %></td>
        <td>
          <%= link_to t('.new', :default => t("helpers.link.new")),new_request_spot_candidate_path(request), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_request_path(request), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      request_path(request),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

