<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @request.title %>
</p>

<p>
  <b>candidate:</b>
  <% @plans.each do |plan| %>
    <li>
    <%= link_to plan.title, plan_path( plan ) %>
    </li>
  <% end %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
