<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @request.title %>
</p>

<p>
  <b>candidates:</b>
  <% @candidates.each do |candidate| %>
    <li>
    <%= link_to candidate.name, candidates_path( candidate ) %>
    </li>
  <% end %>
</p>

<p>
  <b>plans:</b>
  <% @plans.each do |plan| %>
    <li>
    <%= link_to plan.title, plan_path( plan ) %>
    </li>
  <% end %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
