<h1>Listing candidates</h1>

<table>
  <tr>
    <th>Request</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @candidates_mine.each do |candidate| %>
  <tr>
    <td><%= link_to candidate.request.id, request_path( candidate.request ) %></td>
    <td><%= link_to candidate.user.id,    user_path( candidate.user ) %></td>
    <td><%= link_to 'Show', candidate %></td>
    <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
    <td><%= link_to 'Destroy', candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Candidate', new_request_candidate_path %>
