<h1>Editing plan</h1>

<div>
<ul id="cand_spots" class="connectedSortable">
  <% @cand_spots.each do |cand_spot| %>
    <li id="cand_spot_<%= cand_spot.id %>"><span class="handle">[drag]</span><%= cand_spot.name %></li>
  <% end %>
</ul>
</div>

<div>
<ul id="plan_spots" class="connectedSortable">
  <% @plan_spots.each do |plan_spot| %>
    <li id="plan_spot_<%= plan_spot.id %>"><span class="handle">[drag]</span><%= plan_spot.name %></li>
  <% end %>
</ul>
</div>

<%= link_to 'Show', @plan %> |
<%= link_to 'Back', plans_path %>
