<h1>Editing plan</h1>

<%= hidden_field_tag :plan_id, @plan.id %>

<div>
<ul id="plan_spots" class="connectedSortable">
  <% @plan_spots.each do |plan_spot| %>
    <li id="plan_spot_<%= plan_spot.id %>"><span class="handle">[drag]</span><%= plan_spot.name %></li>
  <% end %>
</ul>
</div>

<%= link_to 'Show', @plan %> |
<%= link_to 'Back', plans_path %>
