<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @plan.title %>
</p>

<% @plan_days.each do |plan_day| %>
  <li>
  id: <%= plan_day.id %>
  day: <%= plan_day.day %>
  <%= link_to plan_day.id, plan_plan_day_path( plan_day ) %>
  </li>
<% end %>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
