<!DOCTYPE html>
<html>
<head>
  <title>SimpleList</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <% if session[:user_id] %>
      <li><%= "hello, #{User.find(session[:user_id]).name}" %></li>
    <li><%= link_to 'logout', '/logins/logout' %></li>
    <% else %>
      <li><%= "not login" %></li>
      <li><%= link_to 'login as user1', '/logins/login/1' %></li>
      <li><%= link_to 'login as user2', '/logins/login/2' %></li>
    <% end %>
  </ul>

  <ul>
    <li><%= link_to 'requests', requests_path %></li>
  </ul>
<%= yield %>

</body>
</html>
