<!DOCTYPE html>
<html>
<head>
  <title>SimpleList</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul>
    <li><%= link_to 'candidates', candidates_path %></li>
    <li><%= link_to 'plans', plans_path %></li>
    <li><%= link_to 'requests', requests_path %></li>
  </ul>
<%= yield %>

</body>
</html>
